@import url("//hello.myfonts.net/count/3ef9c6");
  
@font-face {
  font-family: "YoshidaSans-Black";
  src: url('webFonts/YoshidaSansBlack/font.woff2') format('woff2'), url('webFonts/YoshidaSansBlack/font.woff') format('woff');
}

html {
  background-color: #f3f6fa;
}

body {
  margin: 0;
  background: #fff;
  font-family: Poppins;
}

#navbar {
  background: #f3f6fa;
  position: fixed;
  top: 0;
  width: 100%;
  display: block;
  transition: top 0.8s;
  -webkit-box-shadow: -1px 1px 9px 0px rgba(0,0,0,0.1);
-moz-box-shadow: -1px 1px 9px 0px rgba(0,0,0,0.1);
box-shadow: -1px 1px 9px 0px rgba(0,0,0,0.1);


}

#navbar a {
  float: left;
  display: block;
  color: #fff;
  font-weight: 300;
  text-decoration: none;
  margin: 2em 3em;
  font-size: 16px;
}

h1 {
  font-weight: 300;
  font-family: "YoshidaSans-Black";
  color: black;
}

.content {
  margin: 8em 4em;
  text-align: justify;
}

p {
  color: grey;
  font-weight: 300;
  line-height: 30px;
}
